<!-- NAVBAR ************************************************************************************-->
<nav class="navbar navbar-default navbar-fixed-top">
  <!-- <div class="container"> -->
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <button class="navButtonLeft" ng-click="gifter.homePage()" ng-show="gifter.home">Gifter</button>
        <button class="navButtonLeft" ng-click="gifter.homePage()" ng-show="gifter.giftee">Event</button>
      </ul>
      <span id="gifteeEventTitle" ng-show="gifter.giftee">{{gifter.eventTitle}}</span>
      <ul class="nav navbar-nav navbar-right">
        <div class="navButtonRight">
          <span class="dropdown" is-open="gifter.toggleDropdown"><!-- Toggle Not Working -->
            <a href class="dropdown-toggle">
              {{gifter.user.firstname}} {{gifter.user.lastname}}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a ng-click="gifter.homePage()">My Profile</a></li>
              <li><a ng-click="gifter.adminPage()">Event Settings</a></li>
              <li class="divider"></li>
              <li><a ng-click="gifter.logout()">Sign Out</a></li>
            </ul>
          </span>
        </div>
      </ul>
    </div>
  </div>
</nav><br/><br/><br/>
<div class="background"></div>
<div id="title" ng-show="gifter.home">Gifter</div>
<div id="titleSmall" ng-show="gifter.giftee">Gifter</div>

<!-- EVENT PANELS ********************************************************************************-->
<div class="container" ng-show="gifter.home">
  <div class="eventPanel" ng-repeat="event in gifter.myEvents track by $index">
    <div class="eventTitles">{{event.eventName}}</div>
    <div class="eventViewer" ng-click="gifter.thisMatchProfile(event.id)">
      <p class="eventName"></p>
      <div class="eventBox">
      </div>
    </div>
      <span>click me!</span>
  </div>
</div>
<br/><br/><br/><br/><br/>
<div class="spacer"></div>

<!-- INTERESTS PANELS ****************************************************************************-->
<div class="container">
    <div class="interestPanel" ng-show="gifter.home" ng-repeat="catagory in gifter.interests">
      <div class="interestTitles">{{catagory[0]}}</div>
      <div class="interestViewer">
          <div class="tags" ng-repeat="tag in catagory[1] track by $index">{{tag}}
            <button class="remove"  ng-click="gifter.removeTag($index, catagory[2])"></button>
          </div>
      </div>
      <form ng-submit="gifter.addTag(newTag, catagory[2])">
        <span>
          <input class="inputChoices" type="text" ng-model="newTag" placeholder="{{catagory[3]}}">
          <!-- <div ng-repeat="word in gifter.suggestions">{{word}}</div> -->
          <button type="submit" id="interestSubmit">Add Interest!</button>
        </span>
      </form>
    </div>
</div>

<!-- Giftee's Profile ****************************************************************************-->

<div id="gifteeName" class="headding" ng-show="gifter.giftee">Your Giftee is:  <span style="font-family: 'Spirax', cursive;font-size:1.5em;">{{gifter.matchName}}!</span></div>

<div id="topTen" ng-show="gifter.giftee">
  <ul style="list-style-type: none;padding-left:10px;">
    <li class="headding" ng-repeat="catagories in gifter.matchInterests">{{catagories[0]}}
      <ul>
        <li class="body" ng-repeat="interests in catagories[1]">{{interests}}</li>
      </ul>
    </li>
  </ul>


</div>
<!-- <div id="gifteeInterests" ng-show="gifter.giftee">{{gifter.matchInterests}}</div> -->















