<!-- NAVBAR ************************************************************************************-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <button class="navButtonLeft" ng-click="gifter.homePage()" ng-show="gifter.home">My Profile</button>
        <button class="navButtonLeft" ng-click="gifter.homePage()" ng-show="gifter.giftee">Event:</button>
        <button class="navButtonLeft" ng-click="gifter.adminPage()" ng-show="gifter.admin">Event:</button>
        <button class="navButtonLeft" ng-click="gifter.adminPage()" ng-show="gifter.chooseEvent">Choose Event</button>
      <li class="gifteeEventTitle" ng-show="gifter.eventHeadding">{{gifter.eventTitle}}</li>
      <li class="gifteeEventTitle" ng-show="gifter.newEventShow">{{newEvent.eventName}}</li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <div class="navButtonRight">
          <span class="dropdown" is-open="gifter.toggleDropdown">
            <a href class="dropdown-toggle">
              {{gifter.user.firstname}} {{gifter.user.lastname}}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a ng-click="gifter.homePage()">My Profile</a></li>

                <li><a  ng-show="gifter.demoLimits"
                        style="color:#e0c8c8;background:transparent;">
                  Join Event!</a></li>
                <li><a  ng-show="gifter.demoLimits"
                        style="color:#e0c8c8;background:transparent;">
                  Create New Event</a></li>

                <li><a  ng-hide="gifter.demoLimits"
                        ng-click="gifter.joinEventPage()">
                  Join Event!</a></li>
                <li><a  ng-hide="gifter.demoLimits"
                        ng-click="gifter.EventCreatePage()">
                  Create New Event</a></li>

<!-- Delete This Event appears while viewing an event-->
              <li><a ng-click="gifter.findAdminsEvents()">Event Details</a></li>
              <li class="divider"></li>
              <li><a ng-click="gifter.logout()">Sign Out</a></li>
            </ul>
          </span>
        </div>
      </ul>
    </div>
  </div>
</nav><br/><br/><br/>

<!-- IMAGES ********************************************************************************-->
<div id="titleSmall">Gifter</div>

<div class="flower-paper" ng-show="gifter.giftee">
  <!-- <div class="gifter-box"></div> -->
</div>

<div class="brown-paper" ng-show="gifter.admin"></div>

<!-- USER HOME ***********************************************************************************-->
<div  ng-show="gifter.home" class="visible">
  <!-- EVENT PANELS ********************************************************************************-->
  <div class="eventPanelContainer">
    <h3 style="font-family: 'Raleway', sans-serif;">
      These are the Events you are participating in...<br>
      Click on a Green Event to see who your 'Giftee' is<br>
      Red Events are not yet ready to view
    </h3>
    <div  class="eventPanel" ng-repeat="event in gifter.myEvents track by $index"
          style="background:{{gifter.thisEventColor(event.match)}};"
          ng-click="gifter.thisMatchProfile(event.id)">
      <div class="eventTitles">{{event.eventName}}</div>
      <div class="eventPanelInlay">
        <p class="eventName"></p>
        <div class="eventBox"></div>
      </div>
    </div>
  </div>

    <div class="spacer"></div>

  <!-- INTERESTS PANELS ****************************************************************************-->
  <div class="interestPanelContainer">
    <h3 style="font-family: 'Raleway', sans-serif;">
      These are gifts you'd like to receive from your 'gifter'<br>
      Add new favorite things for your gifter to see...
      or delete them using the red buttons<br>
      Being SPECIFIC, brings better results! Instead of asking for 'wine', say 'Merlot'
    </h3>

    <div class="interestPanel" ng-repeat="catagory in gifter.interests">
      <div class="interestTitles">{{catagory[0]}}</div>
      <div class="interestPanelInlay">

        <div class="tags" ng-repeat="tag in catagory[1] track by $index">{{tag}}
          <button class="deleteButton"  ng-click="gifter.removeTag($index, catagory[2], $parent.$index)">
            <span class="remove">x</span>
          </button>
        </div>

      </div>

      <form ng-submit="gifter.addTag(newTag, catagory[2], $index)">
        <span>
          <input class="inputChoices" type="text" ng-model="newTag" placeholder="{{catagory[3]}}">
          <button type="submit" id="interestSubmit">Add Interest!</button>
        </span>
      </form>
    </div>

  </div>
</div>
<!-- Giftee's Profile ****************************************************************************-->
<div  ng-show="gifter.giftee" class="visible">

  <div id="gifteeName" class="heading">Your Giftee is:  <span style="font-family:'Spirax',cursive;font-size:1.5em;">{{gifter.matchName}}!</span></div>

  <div class="panelContainer">
    <div class="displayPanel">
      <div style="color:grey;text-align:center;">
      <!-- click on an item to see where you can buy it -->
      These are {{gifter.matchName}}'s favorite things!<br>
      Your spending limit is ${{gifter.eventLimit}}
      </div>

      <div class="displayPanelInlay">
        <ul class="heading" style="list-style-type: none;padding-left:10px;">
          <li ng-repeat="catagories in gifter.matchInterests">{{catagories[0]}}
            <ul class="body" style="font-size:.5em;">
              <li class="tags" ng-repeat="interests in catagories[1] track by $index">{{interests}}</li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>
<!-- CHOOSE EVENT TO EDIT ************************************************************************-->
<div ng-show="gifter.chooseEvent" class="visible">
  <div class="eventPanelContainer">
  <h3 style="font-family: 'Raleway', sans-serif;">
  Choose which of your Events you'd like to see more details about
  </h3>
    <div  class="eventPanel" ng-repeat="event in gifter.adminsEvents track by $index"
          style="background:{{gifter.thisEventColor(event.match)}};"
          ng-click="gifter.adminPage(event)">
      <div class="eventTitles">{{event.eventName}}</div>
      <div class="eventPanelInlay" style="left:175px">
        <p class="eventName"></p>
        <div class="eventBox"></div>
      </div>
    </div>
  </div>
</div>
<!-- EVENT DETAILS ******************************************************************************-->
<div ng-show="gifter.admin" class="visible">
  <div id="eventSettingsHeading">Event Settings</div>
  <div class="panelContainer">
  <div class="displayPanel" style="opacity:1;">
      <div class="counter" style="float:left;">
        <span class="btn btn-danger" ng-click="gifter.decreaseParticipants(gifter.eventID)">-</span>
        <span>{{gifter.participating}}</span>
        <span class="btn btn-success" ng-click="gifter.increaseParticipants(gifter.eventID)">+</span>
      </div>

      <div class="counter" style="float:right;">
        <span class="btn btn-danger" ng-click="gifter.decreaseLimit(gifter.eventID)">-</span>
        <span>${{gifter.eventLimit}}</span>
        <span class="btn btn-success" ng-click="gifter.increaseLimit(gifter.eventID)">+</span>
      </div>

      <div class="counterDirections">
        <span style="float:left;">
          <p>Participants</p>
        </span>
        <span style="float:right;">
          <p>Spending Limit</p>
        </span>
      </div>
    <div style="position:relative;left:20px;color:grey;text-align:left;">
      Participants who've signed up: {{gifter.participantNum}}<br>
      Gifter will randomly match everyone<br>
      When all members have signed up<br>
    </div>
    <div class="displayPanelInlay">
      <ul style="list-style-type: none;">
        <li class="eventParticipants" ng-repeat="participant in gifter.participants track by $index">
        {{participant[1]}}
          <button class="btn btn-danger" style="float:right;"
                  ng-click="gifter.removeParticipant(participant[0], gifter.eventID)">X</button>
        </li>
      </ul>
    </div>
  </div>
  </div>
<!-- <div>progress bar of participants</div>
<div>Match Button</div> -->



</div>
<!-- JOIN EXISTING EVENT ******************************************************************************-->
<div ng-show="gifter.joinEventVisible" class="visible">
<div class="bow-background"></div>
  <div id="newEventContainer">
    <form class="form-horizontal" role="form" ng-submit="gifter.joinEvent()">
      <div class="form-group" id="labelBackground">
        <label for="joinEventName" class="col-sm-2 control-label">
          What's the name of the event you're joining?
        </label>
        <div class="col-sm-4">
          <input autofocus class="form-control" id="joinEventName"
                  ng-model="join.eventName"
                  placeholder="Big Data Holiday Bash"
                  required>
        </div>
      </div>
      <div class="form-group" id="labelBackground">
        <label for="joinPassword" class="col-sm-2 control-label">
          What's the Group Password?
        </label>
        <div class="col-sm-4">
          <input class="form-control" id="joinPassword"
                  type="password"
                  ng-model="join.password"
                  placeholder="password"
                  required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" ng-click="joinEvent()" class="btn btn-info"
          style="font-size:1.5em;padding:0 59px;opacity:.8;">
            Join This Event!
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- CREATE NEW EVENT ******************************************************************************-->
<div ng-show="gifter.createEvent" class="visible">
<div class="bow-background"></div>
  <div id="newEventContainer">
    <form class="form-horizontal" name="newEvent" role="form" ng-submit="gifter.createNewEvent()">
      <div class="form-group">
        <label for="eventName" class="col-sm-2 control-label" id="labelBackground">
          Event Name
        </label>
        <div class="col-sm-4">
          <input autofocus class="form-control" id="eventName"
                  ng-model="newEvent.eventName"
                  placeholder="Big Data Holiday Bash"
                  required>
        </div>
      </div>
      <div class="form-group" id="labelBackground">
        <label for="password" class="col-sm-2 control-label">
          Group Password
        </label>
        <div class="col-sm-4">
          <input class="form-control" id="password"
                  type="password"
                  ng-model="newEvent.password"
                  placeholder="password"
                  required>
        </div>
      </div>
      <div class="form-group" id="labelBackground">
        <label for="spendingLimit" class="col-sm-2 control-label">
          Spending Limit $
        </label>
        <div class="col-sm-4">
          <input class="form-control" id="spendingLimit"
                  type="text"
                  ng-model="newEvent.spendingLimit"
                  placeholder="5 or 50 dollars?">
        </div>
      </div>
      <div class="form-group" id="labelBackground">
        <label for="participantNum" class="col-sm-2 control-label">
          Number of Partcipants
        </label>
        <div class="col-sm-4">
          <input class="form-control" name="participantNum" id="participantNum"
                  type="text"
                  ng-model="newEvent.participants"
                  placeholder="3 or 30 people?">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" ng-click="createNewEvent()" class="btn btn-info"
          style="font-size:1.5em;padding:0 59px;opacity:.8;">
            Lead This Event!
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


