html {

}
.construction {
  position: fixed;
  bottom: 300px;
  left: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}


.loginSignup {
position: fixed;
top: 400px;
left: 810px;
width: 250px;
}



.navButtons {
  position: relative;
  top: 7px;
  background-color: transparent;
  border: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

div.image {
  position: fixed;
  width: 1295px;
  height: 530px;
  background-image: url('gifter_splash.png');
  z-index: -1;
}

div.background {
  position: fixed center;
  width: 1295px;
  height: 530px;
  background-image: url('background.png');
  z-index: -1;
}
/*EVENT PANELS***********************************************************************************/
.container {
  position:relative;
  /*display: inline-block;*/
  max-width: 1250px
}
.eventPanel {
  position:relative;
  display: inline-block;
  background: -webkit-linear-gradient(-45deg, rgba(212,251,252,1) 2%,rgba(189,182,237,1) 16%,rgba(186,157,111,1) 50%,rgba(173,115,48,1) 68%,rgba(0,45,229,1) 100%);
  -webkit-box-shadow: 10px 10px 15px 5px rgba(150,150,150,.6);
  width: 400px;
  height: 200px;
  border: 0px solid #969696;
  margin: 15px;
  border-radius: 10px;
}

.eventViewer {
  position: relative;
  /*background: -webkit-linear-gradient(-45deg, #848484 0%,#cecece 8%,#e8e8e8 15%,#ffffff 74%);*/
  background: white;
  top: 0px;
  left: 10px;
  width: 95%;
  height: 155px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.eventTitles {
  position: relative;
  text-align: center;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}

div.eventBox {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 127px;
  background-image: url('event_box.jpg');
}

.eventName {
  position: relative;
  float: left;
  left: 4px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em
}

span {
  font-family: 'Raleway', sans-serif;
}

#submit {
  position: relative;
  bottom: 20px;
  left: 50px;
  background-color: -webkit-linear-gradient(-45deg, rgba(252,214,214,1) 0%,rgba(254,144,144,1) 27%,rgba(254,144,144,1) 69%,rgba(255,61,61,1) 100%);
}
.spacer {
  position: fixed;
  width: 100%;
  height: 500px;
  /*background-image: url('spacer.png');*/
}
/*INTEREST PANELS********************************************************************************/
.interestPanel {
  position: relative;
  display: inline-block;
  background: -webkit-linear-gradient(-45deg, #fef7c7 2%,#f4d3ba 16%,#ba9d6f 50%,#ba9d6f 50%,#ad7330 68%,#6d0019 100%);
  -webkit-box-shadow: 10px 10px 15px 5px rgba(150,150,150,.6);
  min-width: 500px;
  max-width:550px;
  min-height: 200px;
  border: 0px solid #969696;
  margin: 10px;
  border-radius: 10px;
}

.interestTitles {
  position: relative;
  left: 10px;
  font-size: 2em;
  font-family: 'Kaushan Script', cursive;
}

.interestViewer {
  position: relative;
  background: -webkit-linear-gradient(-45deg, #848484 0%,#cecece 8%,#e8e8e8 15%,#ffffff 74%);
  top: 0px;
  left: 10px;
  width: 97%;
  min-height: 125px;
  border: 1px solid #d2ac65;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 30px;
}

.inputChoices {
  position: relative;
  background: -webkit-linear-gradient(-45deg,#cecece 0%,#e8e8e8 15%,#ffffff 74%);
  display: inline;

  bottom: 30px;
  left: 80px;
  width: 190px;
  border-color: #f2f2f2;
  border-radius: 5px;
}

#interestSubmit {
  position: relative;
  bottom: 30px;
  left: 80px;
  /*border-radius: 5px;*/
}



.tagBorder {

}

.tags {
  position: relative;
  display: inline-block;
  background: -webkit-radial-gradient(center, ellipse cover, #f0f9ff 0%,#cbebff 59%,#a1dbff 82%);
  color: black;
  border: 2px solid #7ebfd3;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(214, 214, 214, .8);
  padding: .5em;
  margin: 1px;
}
.remove {
  position: relative;
  background: -webkit-linear-gradient(-45deg, rgba(255,121,114,1) 0%,rgba(255,203,201,1) 21%,rgba(255,238,237,1) 22%,rgba(255,0,0,1) 100%);
  top: -12px;
  right: -8px;
  width: 1.2em;
  height: 1.2em;
  border-color: #e78d8d;
  border-radius: 100%;
}

/*GIFTEE PAGE ********************************************************************************/

#gifteeEventTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

#gifteeName {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

#gifteeInterests {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}
















