<!DOCTYPE html>
<html>
<head>
  <title>Gifter</title>
  <link href='http://fonts.googleapis.com/css?family=Corben|Spirax|Abril+Fatface|Raleway:200' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="GifterApp">
<%= yield %>
  <div ng-view>
  </div>
</body>
</html>
